<!DOCTYPE html>
<html>
<head>
  <title>HOME PAGE</title>
</head>
<body>
  <h1>List of all the DINOS</h1>
  <ul>
    <% dinosArr.forEach(d => { %>
      <li>
        <a href="/dinos/<%= d.id %>">
          <%= d.name %>
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="/dinos/new">Add a New Dino!</a>
</body>
</html>
