<!DOCTYPE html>
<html>
<head>
  <title>New Dino Form</title>
</head>
<body>
  <h1>Make a new dino?</h1>
  <form action="/dinos" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Type:</label>
    <input type="text" name="type">
    <input type="submit" value="Dino Time!">
  </form>
</body>
</html>
